In [1]:
import yaml
import pandas as pd

In [2]:
def yaml_to_df(yaml_file):
    """Convert YAML file to pandas DataFrame."""
    # Load YAML data from file
    with open(yaml_file, 'r') as f:
        data = yaml.safe_load(f)
    
    # Create dataframe from dictionary
    df = pd.DataFrame.from_dict(data, orient='index')
    
    return df

In [8]:
df=yaml_to_df('final_answer.yaml')

In [9]:
df

    answer1  answer2         answer3  answer4      paper  trial_idx
1   correct  correct         correct  correct  1106.6060          1
10  correct  correct  incorrect [FN]  correct  1106.6060         10
2   correct  correct         correct  correct  1106.6060          2
3   correct  correct         correct  correct  1106.6060          3
4   correct  correct         correct  correct  1106.6060          4
5   correct  correct  incorrect [FN]  correct  1106.6060          5
6   correct  correct  incorrect [FN]  correct  1106.6060          6
7   correct  correct         correct  correct  1106.6060          7
8   correct  correct         correct  correct  1106.6060          8
9   correct  correct         correct  correct  1106.6060          9

In [10]:
df['correctness'] = (df[['answer1', 'answer2', 'answer3', 'answer4']] == 'correct').sum(axis=1)/4

In [11]:
df.index = pd.to_numeric(df.index)
df = df.sort_index()

In [12]:
df

,answer1,answer2,answer3,answer4,paper,trial_idx,correctness
1,correct,correct,correct,correct,1106.6060,1,1.00
2,correct,correct,correct,correct,1106.6060,2,1.00
3,correct,correct,correct,correct,1106.6060,3,1.00
4,correct,correct,correct,correct,1106.6060,4,1.00
5,correct,correct,incorrect [FN],correct,1106.6060,5,0.75
6,correct,correct,incorrect [FN],correct,1106.6060,6,0.75
7,correct,correct,correct,correct,1106.6060,7,1.00
8,correct,correct,correct,correct,1106.6060,8,1.00
9,correct,correct,correct,correct,1106.6060,9,1.00
10,correct,correct,incorrect [FN],correct,1106.6060,10,0.75